
<div class="modal-body">
    
    <div class="container">
        <div class="row default-images">
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/women-avater.png" class="img-fluid rounded default-image" alt="Default Image 1">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/man-avatar.png" class="img-fluid rounded default-image" alt="Default Image 2">
            </div> 
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/1.jpg" class="img-fluid rounded default-image" alt="Default Image 3">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/2.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/3.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
             <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/4.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/5.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/6.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/7.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/8.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/9.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/10.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/11.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/12.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/13.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/14.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/15.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/16.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/17.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/18.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>
            <div class="col-md-4 mb-3">
                <img src="~/images/defaultimages/19.jpg" class="img-fluid rounded default-image" alt="Default Image 4">
            </div>

        </div>
    </div>
    <hr>
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="uploadInput" accept="image/*">
    </div>
    <img src="" alt="Uploaded Image" id="uploadedImage" class="img-fluid mt-3" style="display: none;">
</div>


