@model ChangePassowrdViewModel

<form>
    <div>
        <div id="alert"></div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="password2">Current Password</label>
            <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" id="CurrentPasswordvalidation" class="text-danger"></span>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="password2">New Password</label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="password2">Confirm New Password</label>
            <input asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <button type="button" id="changePasswordButton" class="btn btn-success w-100 btn-block">Change Password</button>
    </div>

</form>

<script>
    // Function to handle button click
   
</script>
