
<div class="modal-body">

    <div class="container">
        <div class="row default-cover-images">
            <div class="col-12 mb-3">
                <img src="~/images/DefaultImages/cover1.jpeg" class="img-fluid rounded default-cover-image" alt="Default Image 1">
            </div>
            <div class="col-12 mb-3">
                <img src="~/images/defaultimages/cover2.jpeg" class="img-fluid rounded default-cover-image" alt="Default Image 1">
            </div>
            <div class="col-12 mb-3">
                <img src="~/images/defaultimages/cover3.jpeg" class="img-fluid rounded default-cover-image" alt="Default Image 1">
            </div>
            <div class="col-12 mb-3">
                <img src="~/images/defaultimages/cover4.jpeg" class="img-fluid rounded default-cover-image" alt="Default Image 1">
            </div>
            <div class="col-12 mb-3">
                <img src="~/images/defaultimages/cover5.jpeg" class="img-fluid rounded default-cover-image" alt="Default Image 1">
            </div> 
            <div class="col-12 mb-3">
                <img src="~/images/defaultimages/cover6.jpeg" class="img-fluid rounded default-cover-image" alt="Default Image 1">
            </div>

        </div>
    </div>
    <hr>
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="uploadCoverInput" accept="image/*">
    </div>
    <img src="" alt="Uploaded Image" id="uploadedCoverImage" class="img-fluid mt-3" style="display: none;">
</div>


