@{

    Layout = "_ProfileLayout";
}
<body>


    <!-- ! Navbar -->
    <div class="row">
        <div class="col-12">
            <nav>
                <div class="nav-content">
                    <a class="logo" href="#">Clique <i class="fa-solid fa-people-group"></i></a>
                    <div class="search-bar">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                        <input type="text" class="search-input" placeholder="Search" />
                    </div>

                    <div class="right-items">
                        <div class="items">

                             <div class="notification-container" id="notification-container">
                                 <div class="notification">
                                     <i class="fa-solid fa-bell" id="notification-icon"></i>
                                     <span class="notification-count">9+</span>
                                 </div>
                                 <div class="notification-list">

                                     <div class="notification-item">
                                         <img src="" alt="User 1" class="user-avatar">
                                         <div class="notification-details">
                                             <span class="user-name"><strong>User 1</strong></span>
                                             <span class="notification-text">commented on your post . <strong>5h ago</strong></span>
                                         </div>
                                     </div>


                                    


                                 </div>
                             </div>


                            <div class="home ">
                                <a href="#"><i class="fa-solid fa-house active-link"></i></a>
                            </div>

                            <div class="messages">
                                <a href="#"><i class="fa-solid fa-envelope"></i></a>
                            </div>

                            <div class="profile-box" id="profile-box">
                                <div class="profile-pic"><img src="~/HomePage/images/6.jpg" alt="Profile image"></div>
                                <div class="profile-name">
                                    @@UserName
                                    <i class="fa-solid fa-caret-down"></i>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu">
                                    <div class="dropdown-item" data-action="profile"><i class="fa-solid fa-user"></i> Profile</div>
                                    <div class="dropdown-item" data-action="chat"><i class="fa-solid fa-comments"></i> Chat</div>
                                    <div class="dropdown-item" data-action="settings"><i class="fa-solid fa-cog"></i> Settings</div>
                                    <div class="dropdown-item" data-action="group"><i class="fa-solid fa-users"></i> Group</div>
                                    <div class="dropdown-item logout" data-action="logout"><a asp-action="Logout" asp-controller="Account"><i class="fa-solid fa-sign-out"></i> Logout</a></div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid">

        <!-- * ---------------------------------------------------------------- -->
        <!-- ! Content -->
        <div class="row mt-3">
            <div class="col-lg-3 col-md-3 d-none left-content-container fixed d-md-flex justify-content-center">

                <div class="left-boxes ms-2 me-2">
                    <div class="links-container">
                        <div class="link active-link">
                            <i class="fa-solid fa-house"></i>
                            <a href="#">Home</a>
                        </div>
                        <div class="link">
                            <i class="fa-solid fa-comments"></i>
                            <a href="#">Chat</a>
                        </div>
                        <div class="link">
                            <i class="fa-solid fa-user-group"></i>
                            <a href="#">Group</a>
                        </div>
                        <div class="link">
                            <i class="fa-solid fa-gears"></i>
                            <a href="#">Settings</a>
                        </div>
                    </div>
                    <br />
                    <br />

                    <div class="links-container">
                        <div class="link">
                            <i class="fa-solid fa-wallet"></i>
                            <a href="#">Walt</a>
                        </div>
                        <div class="link">
                            <i class="fa-solid fa-diagram-project"></i>
                            <a href="#">My Products</a>
                        </div>
                        <div class="link">
                            <img src="~/HomePage/images/6.jpg" alt="" />
                            <a href="#">@@mod_99</a>
                        </div>
                    </div>

                    <br />

                    <p class="Explore">Explore</p>

                    <div class="links-container">
                        <div class="link">
                            <i class="fa-solid fa-hand-holding-dollar"></i>
                            <a href="#">Offer</a>
                        </div>
                        <div class="link">
                            <i class="fa-solid fa-user-doctor"></i>
                            <a href="#">Jobs</a>
                        </div>

                        <div class="link">
                            <i class="fa-solid fa-store"></i>
                            <a href="#">Market Place</a>
                        </div>
                        <div class="link">
                            <i class="fa-solid fa-square-parking"></i>
                            <a href="#">Pages</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- main container -->
        <div class="col-lg-9 col-md-7 col-12 main-content-container  justify-content-center">

            <div class="px-4 pt-0 pb-4 cover col-12 " style=" height: 30vh;">
                <div class="media align-items-end profile-head px-4 d-flex">
                    <div class="profile mr-3">
                        <img src="~/HomePage/images/6.jpg" alt="..." width="130" class="mb-2">
                        <button class="btn btn-primary position-absolute bottom-0 end-0 m-3">Edit Profile</button>

                    </div>
                    <div class="media-body text-white ">
                        <h4 class="ms-3">Mark Williams</h4>
                        <p class="small ms-5 ps-5 "> <i class="fas fa-map-marker-alt mr-2 me-3"></i>New York</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-7 col-12 main-content-container justify-content-center bio-section">
            <div class="bio-content">
                <p> Write your Bio</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-12 main-content-container d-flex justify-content-center">
            <div class="add-post">
                <div class="box">
                    <div class="write-text">
                        <img src="~/HomePage/images/6.jpg" alt="">
                        <input class="post-text" type="text" placeholder="What's on your mind">
                    </div>
                    <div class="bottom-btns">
                        <div class="left">
                            <i class="fa-solid fa-face-smile emoji-btn"></i>
                            <i class="fa-solid fa-hashtag hash-btn"></i>
                            <i class="fa-solid fa-images"></i>
                            <div class="post-privacy">
                                <i class="fa-solid fa-earth-americas"></i>
                                <p>Public</p>
                                <i class="fa-solid fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="right">
                            <button class="post-btn">Post</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline">
                <ul>
                    <li class="list active" data-filter="ALL">timeline</li>
                    <li class="list" data-filter="CoffieDesign">Photos</li>
                    <li class="list" data-filter="Garden">Videos</li>

                </ul>
            </div>
            <div class="posts-container" style="width: 90%;">
                <div class="post">
                    <div class="box">
                        <section class="portfolio align-items-center">
                            <div class="container  ">
                                <div class="row col-12 ">

                                    <div class="gallary">
                                        <div class="itemBox ALL"><img src="~/Profile/Images/bg-img/21.jpg"> </div>
                                        <div class="itemBox ALL"><img src="~/Profile/Images/bg-img/22.jpg"> </div>

                                        <div class="itemBox CoffieDesign"><img src="~/Profile/Images/bg-img/16.jpg"> </div>
                                        <div class="itemBox CoffieDesign"><img src="~/Profile/Images/bg-img/17.jpg"> </div>
                                        <div class="itemBox Garden"><img src="~/Profile/Images/bg-img/19.jpg"> </div>
                                        <div class="itemBox Garden"><img src="~/Profile/Images/bg-img/20.jpg"> </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>


                <div class="col-lg-3 col-md-0 right-content-container  d-lg-flex justify-content-center parent">
                    <div class="left-boxes">
                        <div class="leeft col-lg-12">
                            <div class="link active-link ">
                                <h2 class="h5 text-start">Complete Your Profile</h2>
                                <hr>
                                <div class="line mt-3">
                                </div>
                                <div class="progress my-3" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 70%; height: 5px;" aria-valuenow="70"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <ul class="list-unstyled text-start">
                                    <li class="text-secondary">
                                        Set User Name <i class="fa-solid fa-check-double ms-3 text-primary"></i>
                                    </li>
                                    <li class="mt-3 text-secondary">
                                        Set User Name <i class="fa-solid fa-check-double ms-3 text-primary"></i>
                                    </li>
                                    <li class="mt-3 text-secondary">
                                        Set User Profile Picture <i class="fa-solid fa-check-double ms-3 text-primary"></i>
                                    </li>
                                    <li class="mt-3 fw-semibold">Set Your Cover Profile</li>
                                    <li class="mt-3 fw-semibold">Set Your Location Info </li>
                                </ul>
                            </div>
                        </div>

                        <br />
                        <br />


                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>