@model CLIQ_UE.ViewModels.CompleteProfileViewModel

@{
    ViewData["Title"] = "CompleteProfile";
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/CLIQ_UE.styles.css" asp-append-version="true" />
<div class="container pt-1 card-0 justify-content-center ">
    <div class="card-body px-sm-4 px-0">

        <div class="row justify-content-center mb-2">
            <div class="col-md-10 col"><h3 class="font-weight-bold ml-md-0 mx-auto text-center text-sm-left"> Complete Profile </h3></div>
        </div>
        <div class="row justify-content-center round">
            <div class="col-lg-10 col-md-12">
                <div class="card shadow-lg card-1">
                    <div class="card-body mb-1 inner-card">
                        <form method="post" asp-action="CompleteProfile" asp-controller="EditProfile" enctype="multipart/form-data">
                            <div class="row justify-content-center">
                                <div class="col-lg-5 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="FirstName">First Name</label>
                                        <input asp-for="FirstName" class="form-control" placeholder="Type your Name">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PhoneNum">Mobile Number</label>
                                        <input asp-for="PhoneNum" class="form-control" placeholder="">
                                        <span asp-validation-for="PhoneNum" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Location">Location</label>
                                        <input asp-for="Location" class="form-control" placeholder="">
                                        <span asp-validation-for="Location" class="text-danger"></span>
                                      </div>
                                    <div class="form-group ">
                                        <label asp-for="Language">Language</label>
                                        <select asp-for="Language" name="Language" id="Language" class="form form-select  ">
                                            <option value="E">English</option>
                                            <option value="A">Arabic</option>
                                        </select>
                                    </div>
                                    <div class="form-group ">
                                        <label asp-for="Gender">Gender</label>
                                        <select asp-for="Gender" name="Gender" id="Gender" class="form form-select   my-2  w-75 my-2 ">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="LastName">Last Name</label>
                                        <input asp-for="LastName" class="form-control" placeholder="">
                                        <span asp-validation-for="LastName" class="text-danger"></span>

                                    </div>
                                    <div class="form-group">
                                        <label asp-for="UserName">User Name</label>
                                        <input readonly asp-for="UserName" class="form-control" placeholder="">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group"> 
                                        <label asp-for="DateOfBirth">Date OF Birth</label>  
                                        <input asp-for="DateOfBirth" type="date" class="form-control datepicker  rounded-3" placeholder="">
                                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Country">Country</label>
                                        <select asp-for="Country" name="Country" id="Country" class="form form-select ">
                                            <option value="E">Egypt</option>
                                            <option value="A">United Sates</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="form-group form-check  col-md-12 col-lg-10 col-12">
                                    <label asp-for="PublicBirthDate" class="ps-2"> Make My date of birth public</label>
                                    <input asp-for="PublicBirthDate" class="form-check-input" type="checkbox">
                                </div>
                            </div>
                            
                            @* <div class="row justify-content-center ">
                                <div class="col-md-12 col-lg-10 col-12">
                                    <div class="form-group files">
                                        <label class="my-auto">Upload Your Profile Image </label>
                                        <input id="file" type="file" asp-for="Image" class="form-control" />
                                    </div>
                                </div>
                            </div> *@
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-10 col-12">
                                    <div class="form-group">
                                        <label asp-for="Bio">Bio</label> 
                                        <textarea asp-for="Bio" class="form-control rounded-0" rows="5"></textarea>
                                    </div>
                                    <div class="row justify-content-end mb-2">
                                        <div class="">
                                            <button  type="submit" class="btn py-2 mt-2 w-100 btn-primary btn-block">Continue</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
@* <script>
    $(document).ready(function () {
        $(".files").attr('data-before', "Drag file here or click the above button");
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $(".files").attr('data-before', fileName);

        });
    });
</script>
 *@


<partial name="_ValidationScriptsPartial"></partial>
<style>
    .card-0 {
        min-height: 70vh;
        background: linear-gradient(-20deg, rgb(255, 255, 255) 50%, #4385f5 50%);
        color: white;
        border: 0px;
    }

    p {
        font-size: 15px;
        line-height: 25px !important;
        font-weight: 500;
    }

    .container {
        padding-top: 50px !important;
        border-radius: 20px;
    }

    .btn {
        letter-spacing: 1px;
    }

    select:active {
        box-shadow: none !important;
        outline-width: 0 !important;
    }

    select:after {
        box-shadow: none !important;
        outline-width: 0 !important;
    }

    input,
    textarea {
        padding: 10px 12px 10px 12px;
        border: 1px solid lightgrey;
        border-radius: 0px !important;
        margin-bottom: 5px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        color: #2C3E50;
        font-size: 14px;
        letter-spacing: 1px;
        resize: none;
    }

        select:focus,
        input:focus {
            box-shadow: none !important;
            border: 1px solid #4385f5 !important;
            outline-width: 0 !important;
            font-weight: 400
        }

    label {
        margin-bottom: 2px;
        font-weight: bolder;
        font-size: 14px;
    }

    input:focus,
    textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #4385f5;
        outline-width: 0
    }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }

    .form-control {
        height: calc(2em + .75rem + 3px);
    }

    .inner-card {
        margin: 30px 0px 30px 0px;
    }

    /* .card-0 {
        margin-top: 100px;
        margin-bottom: 100px;
    } */

    .card-1 {
        border-radius: 17px;
        color: black;
        box-shadow: 2px 4px 15px 0px rgb(0, 0, 0, 0.5) !important;
    }

    #file {
        border: 2px dashed #92b0b3 !important;
    }

    .color input {
        background-color: #f1f1f1;
    }

    .files:before {
        position: absolute;
        bottom: 60px;
        left: 0;
        width: 100%;
        content: attr(data-before);
        color: #000;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }


    #file {
        display: inline-block;
        width: 100%;
        padding: 95px 0 0 100%;
        background: url('https://i.imgur.com/VXWKoBD.png') top center no-repeat #fff;
        background-size: 55px 55px;
    }

</style>
