@{
	Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="~/css/style.css" rel="stylesheet" />
	@* <link rel="stylesheet" type="text/css" href="css/style.css" /> *@
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
	<section class="vh-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 d-flex align-items-center">
					<img src="~/images/clique3.webp"
						 alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
				</div>
				<div class="col-lg-6 d-flex align-items-center justify-content-center">
					<form class="loginform  px-5">
						<h3 class="fw-normal" style="letter-spacing: 1px;">Password Reset Email Sent</h3>
						<p class="small text-muted mb-2 mb-5 pb-lg-2"> We have sent an unlock code to your registered email address. </p>

						<div class="pt-1 mb-5 px-4  d-flex align-items-center justify-content-center">
							<a href="https://mail.google.com/mail/u/0/#inbox">
								<svg width="103" height="89" viewBox="0 0 103 89" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M80.4984 86.5624C80.0396 87.0221 79.4948 87.3867 78.895 87.6356C78.2951 87.8844 77.6521 88.0124 77.0027 88.0124C76.3533 88.0124 75.7103 87.8844 75.1105 87.6356C74.5107 87.3867 73.9658 87.0221 73.5071 86.5624L62.9954 76.0507C62.5364 75.5917 62.1722 75.0467 61.9238 74.4469C61.6754 73.8471 61.5475 73.2043 61.5475 72.5551C61.5475 71.9059 61.6754 71.2631 61.9238 70.6633C62.1722 70.0635 62.5364 69.5185 62.9954 69.0595C63.9225 68.1324 65.18 67.6115 66.4911 67.6115C67.1403 67.6115 67.7831 67.7394 68.3829 67.9879C68.9827 68.2363 69.5276 68.6004 69.9867 69.0595L76.9779 76.0507L94.5304 58.4982C94.9895 58.0392 95.5345 57.675 96.1342 57.4266C96.734 57.1782 97.3769 57.0503 98.0261 57.0503C98.6753 57.0503 99.3181 57.1782 99.9179 57.4266C100.518 57.675 101.063 58.0392 101.522 58.4982C101.981 58.9573 102.345 59.5023 102.593 60.102C102.842 60.7018 102.97 61.3447 102.97 61.9939C102.97 62.6431 102.842 63.2859 102.593 63.8857C102.345 64.4855 101.981 65.0304 101.522 65.4895L80.4984 86.5624ZM50.8971 80.1662H10.8338C5.37961 80.1662 0.917114 75.7037 0.917114 70.2495V10.7495C0.917114 5.29532 5.37961 0.832825 10.8338 0.832825H90.1671C95.6213 0.832825 100.084 5.29532 100.084 10.7495V43.8712C94.7958 41.3555 88.957 40.2197 83.1116 40.5696C77.2662 40.9195 71.6045 42.7437 66.6544 45.8722C61.7043 49.0007 57.6268 53.3316 54.8022 58.4611C51.9775 63.5907 50.4976 69.352 50.5004 75.2078C50.5004 76.8937 50.6492 78.5299 50.8971 80.1662ZM47.8725 43.8216C49.4592 44.8132 51.5417 44.8132 53.1284 43.8216L88.1838 21.9057C88.681 21.6266 89.1163 21.2496 89.4636 20.7973C89.8108 20.3451 90.0627 19.8271 90.2039 19.2747C90.3452 18.7223 90.3729 18.147 90.2853 17.5836C90.1978 17.0202 89.9969 16.4804 89.6947 15.9969C89.3925 15.5134 88.9953 15.0962 88.5273 14.7707C88.0592 14.4451 87.5299 14.2179 86.9715 14.1028C86.4131 13.9877 85.8371 13.9871 85.2784 14.1011C84.7198 14.215 84.19 14.4411 83.7213 14.7657L50.5004 35.5412L17.2796 14.7657C16.8109 14.4411 16.2811 14.215 15.7225 14.1011C15.1638 13.9871 14.5878 13.9877 14.0294 14.1028C13.471 14.2179 12.9417 14.4451 12.4736 14.7707C12.0056 15.0962 11.6084 15.5134 11.3062 15.9969C11.004 16.4804 10.8031 17.0202 10.7156 17.5836C10.628 18.147 10.6557 18.7223 10.797 19.2747C10.9382 19.8271 11.1901 20.3451 11.5373 20.7973C11.8845 21.2496 12.3199 21.6266 12.8171 21.9057L47.8725 43.8216Z" fill="#4385F5" />
								</svg>
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>

